.item ul li{  
    display: inline;
    padding: 5px;
    float: left;

}
.item ul {
    list-style: none;
    padding: 0;
}
.item ul li ul {
    display: none;
}
.item ul li:hover>ul {
    display: block;
}
.item ul li ul li {
    position: relative;
}
.item ul li ul li ul {
    position: absolute;
    left: 240px;
}
.social-icon ul li {
    color: black    ;
    list-style: none;
    display: inline;
    padding: 5px;
}
/* .row{
    --bs-gutter-x : 0rem;
}
.margin{
    margin-left: 5px;
    margin-right: 5px;
} */